window#osd {
  background: #080f0d; 
  border-radius: 0;
}
  
window#osd #container {
  margin: 10px;
}

window#osd image,
window#osd label {
  color: white;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  background: transparent;
  border-radius: 0;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  background: rgba(255,255,255,0.5);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: 0;
  border: none;
  background: white;
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
    margin-left: 0;
}
